<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS File -->
    <link rel="stylesheet" href="static/css/styles.css">

      <!-- FontAwesome CDN -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    <!-- Favicon -->
    <link rel="icon" href="static/images/tab-icon.png" type="image/png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Animated CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Chivo&family=Libre+Franklin:wght@600&family=Mulish:wght@600;700&family=Open+Sans:wght@600&family=Roboto:wght@400;500;700&family=Sen:wght@700&display=swap"
        rel="stylesheet">

    <title>Contact Us</title>
</head>

<body>

    <!-- WoW JS Animation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>

    <!-- Bootstrap JS  -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <!-- Product Title -->
    <section id="product-title">
        <div class="container-fluid">
            {% with messages=get_flashed_messages() %}
			{% if messages %}
			{% for message in messages %}
			<div class="alert alert-success alert-dismissable" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="close">
					<span aria-hidden="true">x</span>
				</button>
				 {{message}}
			 </div>
			    {% endfor %}
			    {% endif %}
			    {% endwith %}
            <nav class="wow fadeInDown navbar navbar-expand-lg navbar-light stroke">
                <a href="/" class="navbar-brand"><img class="company-logo" src="static/images/company-logo.svg"
                        alt="CogniTensor Logo"></a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="/about" class="nav-link underline-effect">About</a></li>
                        <li class="nav-item"><a href="/deepoptics" class="nav-link underline-effect">Deep Optics</a></li>
                        <li class="nav-item"><a href="/products" class="nav-link underline-effect">Products</a></li>
                        <li class="nav-item"><a href="/blogs" class="nav-link underline-effect">Blogs</a></li>
                        <li class="nav-item"><a href="/hiring" class="nav-link underline-effect">Hiring</a></li>
                        <li class="nav-item"><a href="/contactus" class="nav-link underline-effect">Contact Us</a></li>
                        <li class="nav-item"><a href="https://console.cognitensor.com/login" class="nav-link"><button
                                    type="button" class="login-btn">Login</button></a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <img class="left-dots" src="static/images/left-dots.svg" alt="Left Circle Design">

        <div class="row container-fluid">
            <div class="col-lg-6 col-md-6">
                <h1 class="wow fadeInUp contact-head" data-wow-delay="1s">Contact Us</h1>
                <p class="wow fadeInup contact-para" data-wow-delay="1.2s">Here at CogniTensor, we are here to support you and solve your
                    business queries. Feel free to reach us.</p>
            </div>
            <div class="col-lg-6 col-md-6">
                <img class="contact-landing" src="static/images/contactus-images/contact-landing.svg"
                    alt="Contact Us Landing">
            </div>
        </div>

    </section>

    <h1 class="wow fadeInup text-center kickstart" data-wow-delay="2s">Kickstart your AI journey Today!</h1>

    <section id="contact-info">
        <div class="row container-contact">
            <div class="col-lg-6 contact-column">
                <div class="wow fadeInUp card card-resp-contact" data-wow-delay="1s">
                    <div class="card-body">
                        <img class="contact-icon" src="static/images/contactus-images/pin-mini.svg" alt="Pin">
                        <p class="info-para">1026, 10th floor World Trade Tower, Sector 16,<br>Noide, Uttar Pradesh,
                            201301
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 contact-column">
                <div class="wow fadeInUp card" data-wow-delay="1.2s">
                    <div class="card-body">
                        <img class="contact-icon" src="static/images/contactus-images/phone-mini.svg" alt="Phone">
                        <p class="info-para"> <br>0120 422 7829 </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 contact-column">
                <div class="wow fadeInUp card" data-wow-delay="1.4s">
                    <div class="card-body">
                        <img class="contact-icon" src="static/images/contactus-images/gmail-mini.svg" alt="Gmail">
                        <p class="info-para"><br>info@cognitensor.com</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact-form">
        <div class="row">
            <div class="col-lg-6">
                <img class="contact-map" src="static/images/contactus-images/contact-map.svg" alt="Contact Map">
            </div>
            <div class="col-lg-6 container-input">
                <!-- {% with messages=get_flashed_messages() %}
			{% if messages %}
			{% for message in messages %}
			<div class="alert alert-success alert-dismissable" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="close">
					<span aria-hidden="true">x</span>
				</button>
				 {{message}}
			 </div>
			    {% endfor %}
			    {% endif %}
			    {% endwith %} -->
                <form action="" method="POST">
                    <input class="wow fadeInUp contact-form-box" data-wow-delay="1s" type="text" name="Name" placeholder="Name" required><br><br>
                    <input class="wow fadeInUp contact-form-box" data-wow-delay="1s" type="text" name="Company_Name" placeholder="Company Name" required><br><br>
                    <input class="wow fadeInUp contact-form-box" data-wow-delay="1s" id="email" type="email" name="email" placeholder="E mail"  required ><br><br>
                    <input class="wow fadeInUp contact-form-box" data-wow-delay="1s" type="tel" name="contact" placeholder="Contact No." title="Make Sure Your Contact Number Not Exceeds 10 Digit" pattern="[6789][0-9]{9}" required><br><br>
                    <textarea class="wow fadeInUp contact-form-box" data-wow-delay="1s" name="subject" placeholder="Your Message" cols="70.9"
                        rows="4" required></textarea><br><br>
                    <a href=""><button class="wow fadeInUp send-btn" data-wow-delay="0.5s"  type="submit" value="submit">Send</button></a>
                </form>
            </div>
        </div>
    </section>

   
   
    <footer class="page-footer font-small footer-img" style="background-image: url(static/images/footer-building.svg);">
        <div class="container">
            <div class="row text-center d-flex justify-content-center pt-4 mb-2">
                <div class="col-md-2 mb-2">
                    <h6>
                        <a style="text-decoration: none;" class="footer-link" href="/about">About</a>
                    </h6>
                </div>
                <div class="col-md-2 mb-2">
                    <h6>
                        <a style="text-decoration: none;" class="footer-link" href="/deepoptics">Services</a>
                    </h6>
                </div>
                <div class="col-md-2 mb-2">
                    <h6>
                        <a style="text-decoration: none;" class="footer-link" href="/blogs">News</a>
                    </h6>
                </div>
                <div class="col-md-2 mb-2">
                    <h6>
                        <a style="text-decoration: none;" class="footer-link" href="/products">Solution</a>
                    </h6>
                </div>
                <div class="col-md-2 mb-2">
                    <h6>
                        <a style="text-decoration: none;" class="footer-link" href="/contactus">Contact</a>
                    </h6>
                </div>
            </div>
            <div class="container">
                <div class="row text-center d-flex justify-content-center pt-5 mb-3">
                    <div class="col-md-2 mb-2">
                        <h6>
                            <a style="text-decoration: none;" class="footer-item" href="/privacy">Privacy
                                Policy</a>
                        </h6>
                    </div>
                    <div class="col-md-3 mb-2">
                        <h6>
                            <a style="text-decoration: none;" class="footer-item" href="/termsncondition">Terms &
                                Conditions</a>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="row text-center d-flex justify-content-center pt-4 mb-3">
                <div class="col-md-12 mb-3">
                    <h5 class="help-para">We're here to help you</h5>
                    <!-- {% with messages=get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close">
                            <span aria-hidden="true">x</span>
                        </button>
                        {{message}}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %} -->
                    <form method="POST" action="/consult">
                        <input class="footer-input-mail" style=" width: 250px;" type="email" name="consult" id=email placeholder="E-mail"
                            required>
                        <input class="submit-value" type="submit" value="Get free consultation">
                    </form>
                </div>

            </div>
        </div>
        <div class="footer-copyright text-center p-4" style="background-color: #34B8C7;">
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-6 flex-center">
                        <a target="_blank"
                            href="https://www.facebook.com/pages/category/Science--Technology---Engineering/CogniTensor-108257770009160/"
                            class="fb-ic" style="text-decoration: none; color: black;">
                            <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
                        </a>
                        <a target="_blank" href="https://www.instagram.com/cognitensortechnology/" class="ins-ic"
                            style="text-decoration: none; color: black;">
                            <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/company/cognitensor" class="li-ic"
                            style="text-decoration: none; color: black;">
                            <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
                        </a>
                    </div>

                </div>
            </div>
            <p class="footer-text">© 2021 CogniTensor Technology Pvt. Ltd.</p>
        </div>
    </footer>


    <script>
        var wow = new WOW({
            boxClass: 'wow',
            animateClass: 'animated',
            offset: 0,
            mobile: true,
            live: true,
            callback: function (box) {},
            scrollContainer: null,
            resetAnimation: true,
        })
        wow.init();
    
    function myyFunn(){
        alert("Request Sent Sucessfully")
    }
    
    
    
    
    
    
    
    
    
    
    </script>

</body>

</html>