<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS File -->
    <link rel="stylesheet" href="static/css/styles.css">

      <!-- FontAwesome CDN -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    <!-- Favicon -->
    <link rel="icon" href="static/images/tab-icon.png" type="image/png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Animated CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Chivo&family=Libre+Franklin:wght@600&family=Mulish:wght@600;700&family=Open+Sans:wght@600&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">

    <title>Deep Optics</title>
</head>

<body>

    <!-- WoW JS Animation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>

    <!-- Bootstrap JS  -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <!-- Product Title -->
    <section id="product-title">
        <div class="container-fluid">
            {% with messages=get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">x</span>
                </button>
                 {{message}}
             </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            <nav class="wow fadeInDown navbar navbar-expand-lg navbar-light stroke">
                <a href="/" class="navbar-brand"><img class="company-logo" src="static/images/company-logo.svg"
                        alt="CogniTensor Logo"></a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="/about" class="nav-link underline-effect">About</a></li>
                        <li class="nav-item"><a href="/deepoptics" class="nav-link underline-effect">Deep Optics</a></li>
                        <li class="nav-item"><a href="/products" class="nav-link underline-effect">Products</a></li>
                        <li class="nav-item"><a href="/blogs" class="nav-link underline-effect">Blogs</a></li>
                        <li class="nav-item"><a href="/hiring" class="nav-link underline-effect">Hiring</a></li>
                        <li class="nav-item"><a href="/contactus" class="nav-link underline-effect">Contact Us</a></li>
                        <li class="nav-item"><a href="https://console.cognitensor.com/login" class="nav-link"><button
                                    type="button" class="login-btn">Login</button></a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="row container-fluid">
            <div class="col-lg-6 col-md-6">
                <h1 class="deepoptics-head">DeepOptics</h1>
                <p class="deepoptics-para">DeepOptics is our proprietary AI platform
                    that merges human intelligence
                    with cutting edge data models. Developed in-house by our expert Data Science team, it
                    illustrates a combination of pre-built and customised algorithms as well as simplistic
                    automated workflows. It also includes an enhanced visualisation tool to display your report
                    KPIs, metrics and key data points. The amalgamation of these components results in
                    high-quality training data and tailor-made implementations for all machine learning projects.
                    The Machine Learning cycle is divided into three primary tasks, and our platform has a
                    corresponding tool for handling each task with expertise.</p>
            </div>
            <div class="col-lg-6 col-md-6">
                <img class="deep-optics"
                    src="static/images/deeopoptics-images/deepoptics.svg" alt="Deep Optics">
            </div>
        </div>
    </section>

    <section id="datarodeo">
        <img class="right-dots-deepoptics" src="static/images/right-dots.svg" alt="Right Dot Circle">
        <div class="row container-fluid">
            <div class="col-lg-6 col-md-6">
                <img class="rodeo-gif"
                    src="static/images/deeopoptics-images/datarodeo-gif.gif" alt="Data Rodeo GIF">
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="head-icon">
                    <h1 class="deepoptics-head">DataRodeo</h1>
                    <img class="wow rotateIn datarodeo-icon dr-resp" data-wow-delay="1s" data-wow-duration="2s"
                        src="static/images/deeopoptics-images/datarodeo-icon.svg" alt="Data Rodeo Icon">
                </div>
                <p class="deepoptics-para datarodeo-para">After the successful
                    anonymised transfer of data from the
                    various
                    organisational databases, we need to prepare the data according to the requirments, by cleaning the
                    data at our end. <br> Data Rodeo is our data cleaning tool that works towards simplifying and
                    accelerating the process of working with machine learning modules. It performs the necessary
                    tasks like Data Cleaning, Exploratory data analysis, data set scheme generation etc. in order
                    to assemble the data according to the needs of your project.</p>
            </div>
        </div>
    </section>

    <section id="ml-bench">
        <div class="row container-fluid">
            <div class="col-lg-6 col-md-6">
                <div class="head-icon">
                    <h1 class="mlbench-head">ML Bench</h1>
                    <img class="wow rotateIn datarodeo-icon ml-resp" data-wow-delay="1s" data-wow-duration="2s"
                        src="static/images/deeopoptics-images/mlbench-icon.svg" alt="ML Bench Icon">
                </div>
                <p class="mlbench-para">The next step in the Machine Learning cycle
                    is the training & testing of
                    various models. We will be developing various machine learning models and will be
                    implementing & testing it on the data set prepared in the previous steps, in order to find the
                    most suitable fit for your project. ML Bench is our intensively developed tool designed to test
                    and train large datasets with pre-built and customised algorithm modules. It also includes
                    an autonomous IDE to interact with the code and decipher the best-fit for your project from our
                    vast selection of open source data analysis and manipulation libraries.</p>
            </div>
            <div class="col-lg-6 col-md-6">
                <img class="mlbench-gif" 
                    src="static/images/deeopoptics-images/mlbench-gif.gif" alt="ML Bench GIF">
            </div>
        </div>
    </section>

    <section id="cogniviz">
        <div class="row container-fluid">
            <div class="col-lg-6 col-md-6">
                <img class="viz-gif" 
                    src="static/images/deeopoptics-images/cogniviz-gif.gif" alt="CogniViz GIF">
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="head-icon">
                    <h1 class="deepoptics-head">CogniViz</h1>
                    <img class="wow rotateIn datarodeo-icon dr-resp" data-wow-delay="1s" data-wow-duration="2s"
                        src="static/images/deeopoptics-images/cogniviz-icon.svg" alt="Cogniviz Icon">
                </div>
                <p class="deepoptics-para cogniviz-para">Once the aforementioned
                    steps are complete, we will design a
                    dashboard
                    for displaying your reports KPIs, metrics and key data points in order to monitor the
                    health of your business in real-time.<br> CogniViz, our custom Data Visualisation tool achieves this
                    task by showcasing tailor-made dashboards which unleash into the predictions derived with
                    the Machine Learning modules. Accessible via web as well as mobile, the representations and
                    components are all customizable to your liking, with no hidden overhead costs for displaying
                    your data in real-time.</p>
            </div>
        </div>
    </section>

    <footer class="page-footer font-small footer-img" style="background-image: url(static/images/footer-building.svg);">
        <div class="container">
            <div class="row text-center d-flex justify-content-center pt-4 mb-2">
                <div class="col-md-2 mb-2">
                    <h6>
                        <a style="text-decoration: none;" class="footer-link" href="/about">About</a>
                    </h6>
                </div>
                <div class="col-md-2 mb-2">
                    <h6>
                        <a style="text-decoration: none;" class="footer-link" href="/deepoptics">Services</a>
                    </h6>
                </div>
                <div class="col-md-2 mb-2">
                    <h6>
                        <a style="text-decoration: none;" class="footer-link" href="/blogs">News</a>
                    </h6>
                </div>
                <div class="col-md-2 mb-2">
                    <h6>
                        <a style="text-decoration: none;" class="footer-link" href="/products">Solution</a>
                    </h6>
                </div>
                <div class="col-md-2 mb-2">
                    <h6>
                        <a style="text-decoration: none;" class="footer-link" href="/contactus">Contact</a>
                    </h6>
                </div>
            </div>
            <div class="container">
                <div class="row text-center d-flex justify-content-center pt-5 mb-3">
                    <div class="col-md-2 mb-2">
                        <h6>
                            <a style="text-decoration: none;" class="footer-item" href="/privacy">Privacy
                                Policy</a>
                        </h6>
                    </div>
                    <div class="col-md-3 mb-2">
                        <h6>
                            <a style="text-decoration: none;" class="footer-item" href="/termsncondition">Terms &
                                Conditions</a>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="row text-center d-flex justify-content-center pt-4 mb-3">
                <div class="col-md-12 mb-3">
                    <h5 class="help-para">We're here to help you</h5>
                    <!-- {% with messages=get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close">
                            <span aria-hidden="true">x</span>
                        </button>
                        {{message}}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %} -->
                    <form method="POST" action="/consult">
                        <input class="footer-input-mail" style=" width: 250px;" type="email" name="consult" id=email placeholder="E-mail"
                            required>
                        <input class="submit-value" type="submit" value="Get free consultation">
                    </form>
                </div>

            </div>
        </div>
        <div class="footer-copyright text-center p-4" style="background-color: #34B8C7;">
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-6 flex-center">
                        <a target="_blank"
                            href="https://www.facebook.com/pages/category/Science--Technology---Engineering/CogniTensor-108257770009160/"
                            class="fb-ic" style="text-decoration: none; color: black;">
                            <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
                        </a>
                        <a target="_blank" href="https://www.instagram.com/cognitensortechnology/" class="ins-ic"
                            style="text-decoration: none; color: black;">
                            <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/company/cognitensor" class="li-ic"
                            style="text-decoration: none; color: black;">
                            <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
                        </a>
                    </div>

                </div>
            </div>
            <p class="footer-text">© 2021 CogniTensor Technology Pvt. Ltd.</p>
        </div>
    </footer>

    <script>
        var wow = new WOW({
            boxClass: 'wow',
            animateClass: 'animated',
            offset: 0,
            mobile: true,
            live: true,
            callback: function (box) {},
            scrollContainer: null,
            resetAnimation: true,
        })
        wow.init();
    
    function myyFunn(){
        alert("Request Sent Sucessfully")
    }
    
    
    
    
    
    
    
    
    
    
    </script>



</body>

</html>